/.idea/encodings.xml
/.idea/hyttebooker.iml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/compiler.xml
/.idea/vcs.xml
/.idea/workspace.xml
src/main/resources/firebase-adminsdk.json
.idea/

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# local variables files
.terraform.lock.hcl

# Crash log files
crash.log


.DS_Store